<label
  [attr.for]="forId()"
  class="py-2 px-2 m-2 flex"
  [ngClass]="{
    'text-xs': fontSize() === 'text-xs',
    'text-sm': fontSize() === 'text-sm',
    'text-base': fontSize() === 'text-base',
    'text-lg': fontSize() === 'text-lg',
    'text-xl': fontSize() === 'text-xl',
    'text-2xl': fontSize() === 'text-2xl',
    'text-3xl': fontSize() === 'text-3xl',
    'text-4xl': fontSize() === 'text-4xl',
    'text-5xl': fontSize() === 'text-5xl',
    'font-bold': fontWeight() === 'font-bold',
    'font-medium': fontWeight() === 'font-medium',
    'font-black': fontWeight() === 'font-black',
    'font-light': fontWeight() === 'font-light',
    'font-regular': fontWeight() === 'font-regular',
  }"
>
  {{ text() }}
</label>
