<label
  [attr.for]="forId()"
  class="py-2 px-2 m-2"
  [ngClass]="{
    'text-[#081F5C]': color() === 'blue-dark',
    'font-normal': fontWeight() === 'normal',
    'text-left': textAlign() === 'left',
    'text-base': fontSize() === 'text-base',
    'cursor-pointer': cursorPointer,
    italic: fontStyle() === 'italic',
    underline: textDecoration() === 'underline',
    'line-through': textDecoration() === 'line-through',
    'font-bold': fontWeight() === 'bold',
    'font-lighter': fontWeight() === 'lighter',
    'text-center': textAlign() === 'center',
    'text-right': textAlign() === 'right',
    'text-xs': fontSize() === 'text-xs',
    'text-sm': fontSize() === 'text-sm',
    'text-lg': fontSize() === 'text-lg',
    'text-xl': fontSize() === 'text-xl',
    'text-2xl': fontSize() === 'text-2xl'
  }"
>
  {{ text() }}
</label>
