@use "tailwindcss/theme"; // Asegúrate de que esté al principio
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Mango&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;600;700&display=swap");

.text-12px {
  font-size: 12px;
}

.text-16px {
  font-size: 16px;
}

.text-20px {
  font-size: 20px;
}

.text-48px {
  font-size: 48px;
}

.text-60px {
  font-size: 60px;
}

.font-onest {
  font-family: "Onest", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-black-mango {
  font-family: "Black Mango", sans-serif;
}

.font-sf-pro-display {
  font-family: "SF Pro Display", sans-serif;
}

.text-334EAC {
  color: #334eac;
}

.text-081f5c {
  color: #081f5c;
}

.text-ffffff {
  color: #ffffff;
}

.text-000000 {
  color: #000000;
}

.text-7096D1 {
  color: #7096d1;
}

.text-D0E3FF {
  color: #d0e3ff;
}

.text-E7F1FF {
  color: #e7f1ff;
}

.text-F9FCFF0 {
  color: #f9fcff;
}

.text-E7E7E7 {
  color: #e7e7e7;
}
