<div class="flex flex-col items-center">
    <canvas #canvas width="400" height="400" (mousedown)="handleMouseDown($event)" (mousemove)="handleMouseMove($event)"
        (mouseup)="handleMouseUp()" (mouseleave)="handleMouseUp()" class="w-[400px] h-[400px] rounded-lg"
        aria-label="Interactive 3D Icon Cloud" role="img"></canvas>
    <p class="text-[#081F5C] text-center max-w-[400px] -mt-8 text-xl leading-6 text-gray-700">
        Aprende, crece y destaca con cursos prácticos y accesibles en un solo lugar.
    </p>
</div>