<div class="dynamic-select" [class]="width() + ' ' + height() + ' ' + border()">
  <input
    type="text"
    class="dynamic-select-input"
    [class]="`border-none outline-none ${border()} ${opacity()} ${placeholderColor()}`"
    [placeholder]="placeholder()"
    #InputSelect
    (input)="routeInput.set(InputSelect.value); focus = true"
    (focus)="focus = true" />

  @if (focus === true && selectedRoute.length > 0) {
    <div class="options" [class]="width()">
      @for (opt of selectedRoute; track $index) {
        <a class="option" [routerLink]="opt.value">{{ opt.option }}</a>
      }
    </div>
  }
</div>
