<!--
This HTML code defines a <select> element with two options: "Adult (+18 years)" and "Children (< 18 years)".

Applied styles (Tailwind CSS):
- Blue border (border-blue-700) with a thickness of 2px (border-2).
- Rounded borders (rounded-full) and internal spacing (px-2, py-2).
- Horizontal margin (mx-3) and bold text (font-bold).

Options:
- "Adult (+18 years)" with value "1".
- "Children (< 18 years)" with value "2".

This element can be used in forms to capture the user's age.
-->

<select 
  class="btn__select" 
>
  <option value="">-- Seleccione --</option>
  <option 
    *ngFor="let option of options" 
    [value]="option.id"
  >
    {{ option.name }}
  </option>
</select>

