<div class="card-courses bg-white rounded-2xl overflow-hidden w-80 shadow-md">
  <!-- Imagen de fondo -->
  <div class="card-image relative">
    <img src="{{ courseImage() }}" alt="" class="w-full h-auto" />
  </div>

  <!-- Contenido de la tarjeta -->
  <div class="card-content p-4">
    <app-label
      text="{{ courseName() }}"
      forId="descriptionLabel"
      class="font-bold text-xl"></app-label>
    <div class="course-details flex items-center gap-3 mt-2 ml-4">
      <p class="Teacher flex items-center gap-1 text-[#7096D1]">
        <fa-icon [icon]="userIcon" class="text-sm"></fa-icon> {{ professor() }}
      </p>
      <p class="Age flex items-center gap-1 text-[#7096D1]">
        <fa-icon [icon]="barIcon" class="text-sm"></fa-icon> {{ age() }}
      </p>
    </div>
    <app-label
      text="S/.{{ price() }}"
      forId="priceLabel"
      color="black"></app-label>
    <div class="flex justify-end gap-3 mt-4">
      <app-button>
        {{ category() }}
      </app-button>
      <app-button> Agregar </app-button>
    </div>
  </div>
</div>
