<footer class="flex justify-center">
  <img src="assets/images/logo.png" alt="Logo" class="w-20 h-20" />
  <app-link
    label="Terminos y Condiciones"
    route="/"
    color="primary"
    [underline]="false">
    Enlace
  </app-link>

  <app-link label="Whatsapp" route="/" color="primary" [underline]="false">
    Enlace
  </app-link>

  <app-link label="Instagram" route="/" color="primary" [underline]="false">
    Enlace
  </app-link>

  <app-link label="Facebook" route="/" color="primary" [underline]="false">
    Enlace
  </app-link>

  <app-link label="Youtube" route="/" color="primary" [underline]="false">
    Enlace
  </app-link>
</footer>
