<div class="dynamic-select" [class]="width() + ' ' + height()">
  <input
    type="text"
    class="dynamic-select-input"
    [class]="'border-none outline-none '+ border() + ' ' +  opacity()"
    [placeholder]="placeholder()"
    #InputSelect
    (input)="routeInput.set(InputSelect.value); focus = true"
    (focus)="focus = true"s
  />

  <div class="options" [class]="width()" [ngClass]="{ 'hidden': focus === false }">
    @for (opt of selectedRoute; track $index) {
    <a class="option" [routerLink]="opt.option">{{ opt.value }}</a>
    }
  </div>
</div>
