<router-outlet></router-outlet>

<div class="flex justify-center gap-6">
    <app-card-plan
      plan="Básico"
      [price]="200"
      [users]="1"
      [benefits]="['Acceso completo a todos los cursos.', 'Certificado de finalización.', 'Recompensas por suscripción continuada.']"
      logoImage="assets/images/logo.svg"
      textColor="white"
      bgColor="blue-light"
      btnColor="blue-medium"
      logoColor="white">
    </app-card-plan>
    
    <app-card-plan
      plan="Dúo"
      [price]="350"
      [users]="2"
      [benefits]="['Acceso completo a todos los cursos.', 'Certificado de finalización.', 'Recompensas por suscripción continuada.']"
      logoImage="assets/images/logo.svg"
      textColor="blue-dark"
      bgColor="white"
      btnColor="grey-light"
      logoColor="blue-light">
    </app-card-plan>
    
    <app-card-plan
      plan="Expert"
      [price]="500"
      [users]="3"
      [benefits]="['Acceso completo a todos los cursos.', 'Certificado de finalización.', 'Recompensas por suscripción continuada.']"
      logoImage="assets/images/logo.svg"
      textColor="white"
      bgColor="blue-medium"
      btnColor="blue-lightest"
      logoColor="white">
    </app-card-plan>
  </div>
  

