<app-button label="bienvenido" type="submit"> </app-button>
<app-button
  type="submit"
  label="Crea tu cuenta"
  [outline]="true"
  color="secondary"></app-button>
<app-button label="Enviar" type="reset"></app-button>

<app-label
  text="Usuario/Correo electrónico"
  forId="UserLabel"
  color="blue-dark"
  fontFamily="font-sfProDisplay"></app-label>

<button
  type="button"
  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
  Default
</button>
<button
  type="button"
  class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
  Alternative
</button>
<button
  type="button"
  class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
  Dark
</button>
<button
  type="button"
  class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
  Light
</button>
<button
  type="button"
  class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
  Green
</button>
<button
  type="button"
  class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
  Red
</button>
<button
  type="button"
  class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">
  Yellow
</button>
<button
  type="button"
  class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
  Purple
</button>

<app-create-dropdown />
<app-label
  text="Contraseña"
  forId="PasswordLabel"
  color="black"
  fontFamily="font-blackMango"></app-label>

<app-label
  text="Nombre de usuario"
  forId="UsernameLabel"
  color="blue-medium"
  fontFamily="font-onest"></app-label>

<app-label
  text="Fecha de nacimiento"
  forId="BirthdateLabel"
  color="blue-light"
  fontFamily="font-poppins"></app-label>

<app-checkbox label="Recordar la contraseña" color="blue-dark"></app-checkbox>
<div class="bg-[#D0E3FF] p-4">
  <dynamic-select
  [arrayRoutes]="arrayRoutes"
  width="w-[300px]"
  placeholder="placeholder"
  opacity="opacity-60"
  placeholderColor="placeholder-[#334EAC]"
/>
</div>

<app-link
  label="Inicio"
  route="/"
  color="blue-medium"
  [underline]="true"></app-link>

<!-- Ejemplo de link sin subrayado -->
<app-link
  label="Contacto"
  route="/contacto"
  color="blue-dark"
  [underline]="false"></app-link>

<div class="p-4">
  <h1>Prueba del Componente de Mensaje de Error</h1>

  <!-- Usar el componente con un mensaje estático -->
  <app-error-message message="Este es un mensaje de error estático" />

  <!-- Usar el componente con una propiedad dinámica del componente padre -->
  <app-error-message [message]="errorMessage" />
</div>

<footer>
  <app-footer-auth></app-footer-auth>
</footer>
