<button
  class="font-bold py-2 px-4 gap-2 transition duration-300 ease-in-out flex items-center justify-center"
  [class]="customClass()">
  @if (icon() && iconPosition() === 'left') {
    <mat-icon class="icon-left" [style]="{ color: iconColor() }">
      {{ icon() }}
    </mat-icon>
  }
  @if (label()) {
    <span [style]="{ color: textColor() }">
      {{ label() }}
    </span>
  }

  @if (icon() && iconPosition() === 'right') {
    <mat-icon class="icon-right" [style]="{ color: iconColor() }">
      {{ icon() }}
    </mat-icon>
  }
</button>
