<section>
  <!--texto-->
  <div class="text">
    <h1 class="title">
      Aprende, crece y <span class="text-[#334EAC]">destaca</span> con cursos
      transformadores
    </h1>
    <p class="description">
      Tu plataforma de aprendizaje: crece, explora y alcanza tus metas con
      cursos que transforman.
    </p>
    <!-- Input de búsqueda -->
    <div class="input-search">
      <!-- Icono de búsqueda -->
      <button-atom
        customClass="rounded-xl bg-[#7096D1] material-icons hover:bg-[#005194]"
        label="search" />
      <!-- Input -->
      <dynamic-select-atom
        class="w-full px-2"
        placeholder="¿Qué deseas aprender?"
        opacity="opacity-60"
        placeholderColor="placeholder-[#334EAC]"
        [arrayRoutes]="[]" />
    </div>

    <!-- Botón -->
    <button-atom
      customClass="bg-[#7096D1] rounded-full font-bolder w-[234px] h-[42px] hover:bg-[#005194]"
      label="Empezar gratis →" />
  </div>

  <!--imágenes -->
  <div class="images">
    <img src="/assets/images/image.png" alt="Grupo estudiando" />
    <img src="/assets/images/image2.png" alt="Estudiantes en el campus" />
    <img src="/assets/images/image3.png" alt="Estudiantes colaborando" />
  </div>
</section>
