<footer class="p-6">
  <div class="hidden md:flex justify-center items-center">
    <img
      src="assets/images/uguimar_isologo.svg"
      alt="Logo"
      class="h-16 w-auto" />
    <div class="flex gap-8 font-poppins italic">
      <app-link
        label="Terminos y Condiciones"
        route="/"
        color="primary"
        [underline]="false"></app-link>
      <app-link
        label="Whatsapp"
        route="/"
        color="primary"
        [underline]="false"></app-link>
      <app-link
        label="Instagram"
        route="/"
        color="primary"
        [underline]="false"></app-link>
      <app-link
        label="Facebook"
        route="/"
        color="primary"
        [underline]="false"></app-link>
      <app-link
        label="Youtube"
        route="/"
        color="primary"
        [underline]="false"></app-link>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center md:hidden">
    <img
      src="assets/images/LogoFooterMobile.svg"
      alt="Logo"
      class="h-29 w-92 mb-2" />
  </div>
</footer>
