<div
  class="flex items-center p-4 rounded-3xl shadow-md border w-full max-w-lg"
  [ngClass]="{
    'bg-white border-blue-400 text-gray-700': theme() === 'light',
    'bg-[#334EAC] border-[#334EAC] text-white': theme() === 'dark',
  }">
  <img
    [src]="image()"
    alt="Foto de {{ name() }}"
    class="w-30 h-30 rounded-3xl object-cover border mr-4"
    [ngClass]="{
      'border-gray-300': theme() === 'light',
      'border-white': theme() === 'dark',
    }" />
  <div class="flex flex-col">
    <label-atom
      [text]="name()"
      [color]="theme() === 'light' ? 'blue-dark' : 'white'"
      [fontFamily]="'font-poppins'"
      class="text-xl font-bold">
    </label-atom>
    <p
      class="text-base leading-5"
      [ngClass]="{
        'text-gray-700': theme() === 'light',
        'text-white': theme() === 'dark',
      }">
      {{ opinion() }}
    </p>
  </div>
</div>
